body {
  margin: 0;
  font-family: sans-serif;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

canvas {
  background: #000;
  display: block;
  border: 5px solid #fff;
  max-width: 90vw;
  max-height: 70vh;
}

.controls {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.btn {
  background: #ff0;
  color: black;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1.2em;
}
